/* Estilos para la lista */
#my-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list-group-item {
  width: calc(20% - 20px); /* Ajusta el ancho y deja espacio entre elementos */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
  margin-right: 1%; /* Reducir el margen derecho */
}

/* Estilos para los elementos del template */
[data-id='image'] {
  max-width: 100%;
  height: auto;
  max-height: 80px; /* Ajusta la altura máxima de la imagen según tus preferencias */
}

/* Resto de estilos... */

/* Estilos para los botones */
.btn-primary,
.btn-light {
  margin-right: 10px;
  background-color: #3498db;
  color: #232e96;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: #f1c40f;
  color: #000;
}
